
:root {
  --infowindow-color: #262626;
}
.gm-style-iw {
  content: "Welcome!";
  color: #ffffff;
  background-color: var(--infowindow-color) !important;
}
.gm-style .gm-style-iw-tc::after {
  background-color: var(--infowindow-color) !important;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background-color: var(--infowindow-color) !important;
}
